.upload-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.upload-form input[type='file'] {
    margin: 10px 0;
}

.canvas-display {
    border: 1px solid #ccc;
    width: 100%;
    height: 400px;
    background-color: #f9f9f9;
    margin: 20px 0;
}